body {
  color: #434455;
  background-color: #ffffff;
  font-size: 16;
  font-weight: regular;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo-style {
  color: #2e2f42;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 16px;
  }
}
.nav-menu,
.contacts {
  display: none;
}
.header {
  color: #4d5ae5;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  color: #404bbf;
}
.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  text-decoration: none;
}
.logo-one {
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #404bbf;
  margin-right: 76px;
  display: inline-block;
  text-decoration: none;
}
.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
button {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .navigation {
    align-items: center;
    display: flex;
  }
  .logo-one {
    padding: 24px 0;
    margin-right: 120px;
  }
  .current::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
    display: inline-block;
    transition: width 0.3s ease-in-out;
  }
  .navigation {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
  }
  .nav-item:focus::after {
    width: 100%;
  }
  .nav-item:hover::after {
    width: 100%;
  }

  .contacts-info .contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }
}
.current::after {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  content: '';
  display: inline-block;
  transition: width 0.3s ease-in-out;
}
