.section-one {
  background-color: #2e2f42;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  padding: 56px 0;
  min-height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.mobile.jpg);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.mobile@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.tablet.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.tablet@2x.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 768px;
  }
}
body {
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: regular;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo-style {
  color: #2e2f42;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 24px 0;
    margin-right: 120px 0;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .goal {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.nav-menu,
.contacts {
  display: none;
}
.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  color: #404bbf;
}
.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  text-decoration: none;
}
.logo-one {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #404bbf;
  display: block;
  text-decoration: none;
  padding: 16px 0;
}
.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section-one {
    padding: 112px 0;
  }

  .container-two svg {
    display: none;
  }
  .itemtwo {
    align-content: center;
    box-sizing: border-box;
    column-gap: 8px;
    display: list-item;
    flex-direction: column;
    row-gap: 8px;
    width: 300px;
    gap: 72px 24px;
  }
  .menutwo {
    column-gap: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 736px;
    height: 312px;
    justify-content: center;
  }
  .header {
    height: 72px;
  }
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .burger-button {
    display: none;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .navigation {
    align-items: center;
    display: flex;
  }
  .logo-one {
    padding: 16px 0;
    margin-right: 120px;
    display: block;
  }
  .current::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
    display: inline-block;
    transition: width 0.3s ease-in-out;
  }
  .navigation {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #4d5ae5;
    display: flex;
    align-items: center;
  }
  .nav-item:focus::after {
    width: 100%;
  }
  .nav-item:hover::after {
    width: 100%;
  }
  .solutions {
    width: 496px;
    height: 120px;
  }
  .contacts-info .contacts-link {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    font-size: 12px;
  }
  .contacts-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 10px;
    padding: 72px 0;
    display: block;
  }
  .strategy-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .goal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

@media screen and (min-width: 1158px) {
}
.current::after {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  content: '';
  display: inline-block;
  transition: width 0.3s ease-in-out;
}
.contacts-info {
  display: flex;
  gap: 40px;
  flex-direction: row;
}
.contacts-info .contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.navigation {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1158px) {
  .logo-one {
    margin-right: 76px;
  }
  .contacts-info {
    gap: 12px;
    align-items: center;
    flex-direction: row;
  }
}

.solutions {
  align-items: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}
h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

@media screen and (min-width: 1158px) {
  .section-one {
    padding: 72px 0;
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 600px;
  }
  .container-two {
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }

  .strategy-one {
    font-family: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
}
.button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  max-width: 496px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;

  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.strategy-one {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .container-two svg {
    display: none;
  }
  .liteam {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .menutwo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    width: 288px;
    height: 696px;
  }
  .strategy-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .goal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.lifour {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.strategy-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
@media screen and (max-width: 768px) {
  .icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .iconadress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
  }

  .iconadress:hover,
  .iconadress:focus {
    background-color: #404bbf;
  }

  .icon {
    fill: #f4f4fd;
  }

  .section-three {
    width: 320px;
    height: 2232px;
  }
  .team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .ulteam {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    width: 264px;
    height: 1928px;
  }
  .our {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .feautures {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
}
.our {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}
.our-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .menutwo {
    display: flex;
    gap: 24px;
    height: 224px;
    width: 1128px;
  }

  .itemtwo {
    width: calc((100% - 3 * 24px) / 4);
  }

  .nameteam {
    padding: 32px 0;
    text-align: center;
    margin-bottom: 8px;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .two {
    padding: 120px 0;
  }
  .ulteam {
    background-color: #ffffff;
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .liteam {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .strategy-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .our {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
    margin-bottom: 8px;
  }
  .increase {
    color: #f4f4fd;
    max-width: 264px;
  }
  .strategy-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .container-two svg {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .team {
    text-align: center;
  }
  .our {
    text-align: center;
  }
  .feautures {
    text-align: center;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .iconadress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
  }

  .iconadress:hover,
  .iconadress:focus {
    background-color: #404bbf;
  }

  .icon {
    fill: #f4f4fd;
  }
  .section-three {
    padding-right: 108px;
    padding-left: 108px;
  }

  .ulteam {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}
.liteam {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  width: 264px;
  margin: 0 auto;
}
