.section-one {
  background-color: #2e2f42;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.mobile.jpg);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (max-width: 768px) and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.mobile@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.tablet.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.tablet@2x.jpg);
    padding: 188px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 768px;
  }
}

.mobile-a.current {
  color: #404bbf;
}

.mobile-a:hover,
.mobile-a:focus {
  color: #404bbf;
}
.mobile-addr-a.active {
  color: #404bbf;
}
.mobile-a.current::after {
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border: none;
  border-radius: 2px;
  background-color: #404bbf;
}

.mobile-addr-a:hover,
.mobile-addr-a:focus {
  color: #404bbf;
}

.mobile-ul {
  padding-top: 72px;
}
.mobile-adr {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-addr-a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  z-index: 99999;
  transform: translateX(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  pointer-events: auto;

  transform: translateX(0%);
}

.mobile-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-ul {
  flex-grow: 1;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav {
  margin-bottom: auto;
  margin-top: 25px;
}

.mobile-a {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, transform 200ms ease-in-out;
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}
.mobile-adr .mobile-addr-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-icon-li svg {
  fill: #ffffff;
}
.mobile-icon-li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
body {
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: regular;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo-style {
  color: #2e2f42;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 24px 0;
    margin-right: 120px 0;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .goal {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.nav-menu,
.contacts {
  display: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #404bbf;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  text-decoration: none;
}
.logo-one {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: block;
  text-transform: uppercase;
  padding: 16px 0;
}
.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .solutions {
    font-size: 36px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 72px;
  }

  .section-one {
    padding: 112px 0;
  }

  .container-two svg {
    display: none;
  }
  .itemtwo {
    align-content: center;
    box-sizing: border-box;
    column-gap: 8px;
    display: list-item;
    flex-direction: column;
    row-gap: 8px;
    width: 300px;
    gap: 72px 24px;
  }

  .menutwo {
    column-gap: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 736px;
    height: 312px;
    justify-content: center;
  }
  .header {
    height: 72px;
  }
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .burger-button {
    display: none;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .navigation {
    align-items: center;
    display: flex;
  }
  .logo-one {
    padding: 24px 0;
    margin-right: 120px;
  }
  .current::after {
    width: 100%;
    position: relative;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
    display: inline-block;
    transition: width 0.3s ease-in-out;
  }
  .sectionthree .container {
    flex-wrap: wrap;
  }
  .navigation {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #4d5ae5;
    display: flex;
    align-items: center;
  }
  .nav-item:focus::after {
    width: 100%;
  }
  .nav-item:hover::after {
    width: 100%;
  }

  .contacts-info .contacts-link {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    font-size: 12px;
  }
  .contacts-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 10px;
    padding: 72px 0;
    display: block;
  }
  .strategy-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .goal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

@media screen and (min-width: 1158px) {
  .current::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
    display: inline-block;
    transition: width 0.3s ease-in-out;
  }

  .contacts-info {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  .logo-one {
    margin-right: 76px;
  }

  .contacts-link {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto', sans-serif;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    font-style: normal;
  }
}

.solutions {
  align-items: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 76px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-two {
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }

  .strategy-one {
    font-family: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
}
.nav-item-link.current {
  position: relative;
}

.nav-item-link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border: none;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-item-link:focus,
.nav-item-link:hover {
  color: #404bbf;
}
.contacts-link:focus,
.contacts-link:hover {
  color: #404bbf;
}

.button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  max-width: 496px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.strategy-one {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .container-two svg {
    display: none;
  }
  .liteam {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .menutwo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    width: 288px;
    height: 696px;
  }
  .strategy-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .goal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.lifour {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.strategy-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
@media screen and (max-width: 768px) {
  .icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .iconadress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
  }

  .iconadress:hover,
  .iconadress:focus {
    background-color: #404bbf;
  }

  .icon {
    fill: #f4f4fd;
  }
  .section-three {
    width: 320px;
    height: 2232px;
  }
  .team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .ulteam {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    width: 264px;
  }
  .our {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .feautures {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
}

.ulteam {
  display: flex;

  gap: 24px;
}

.liteam {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
  max-width: 264px;
  height: 428px;
  box-sizing: border-box;
  align-items: center;
}

.nameteam {
  padding: 32px 0;
}
.feautures {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.icon-team {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.social-icon {
  width: 40px;
  height: 40px;
}
.iconadress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sectionthree {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.nameteam {
  padding: 32px 0;
}
.our {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}
.our-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .menutwo {
    display: flex;
    gap: 24px;
    height: 224px;
    width: 1128px;
  }

  .itemtwo {
    width: calc((100% - 3 * 24px) / 4);
  }

  .nameteam {
    padding: 32px 0;
    text-align: center;
    margin-bottom: 8px;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .two {
    padding: 120px 0;
  }
  .ulteam {
    background-color: #ffffff;
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .liteam {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .strategy-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .our {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
    margin-bottom: 8px;
  }
  .increase {
    color: #f4f4fd;
    max-width: 264px;
  }
  .strategy-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .container-two svg {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .nav-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item-link.current {
    position: relative;
  }

  .nav-item-link.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border: none;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .team {
    text-align: center;
  }
  .our {
    text-align: center;
  }
  .feautures {
    text-align: center;
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .iconadress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
  }

  .iconadress:hover,
  .iconadress:focus {
    background-color: #404bbf;
  }

  .icon {
    fill: #f4f4fd;
  }
  .section-three {
    padding-right: 108px;
    padding-left: 108px;
  }
  .ulteam {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .liteam {
    width: calc((100% - 48px) / 2);
  }
}

.section-four {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.menufour {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.lifour {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.lifour:hover .text {
  opacity: 1;
  transform: translateY(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 300px;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nameteamtwo {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.menufour .our-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.menufour .feautures-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .menufour {
    gap: 72px 24px;
  }

  .lifour {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .menufour {
    gap: 48px 24px;
  }

  .lifour {
    width: calc((100% - 24px * 2) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .lifour:hover,
  .lifour:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.colorstudio {
  color: #f4f4fd;
}

.increase {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: center;
  max-width: 288px;
}

.footerlogo {
  margin-bottom: 72px;
}

.footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.icon-team-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.icon-two {
  width: 40px;
  height: 40px;
}

.iconadr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.iconadr:hover,
.iconadr:focus {
  background-color: #31d0aa;
}

.footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  position: relative;
  padding: 8px 64px 8px 24px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-svg {
  position: absolute;
  fill: #fff;
  margin-left: 16px;
  right: 24px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 72px 24px;
    margin-left: 92px;
  }

  .logo {
    display: flex;
    justify-content: start;
  }

  .increase {
    text-align: start;
    max-width: 264px;
  }

  .footer-p {
    text-align: start;
  }

  .footer-paragraph {
    text-align: start;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 0;
  }
  .footerlogo {
    margin-right: 120px;
  }

  .footerdiv {
    margin-right: 80px;
  }

  .footer-form {
    flex-wrap: nowrap;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-text {
  text-align: center;
  margin-bottom: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
.modal-form {
  margin-bottom: 8px;
}
.modal-label {
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-form-two {
  position: relative;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-svg {
  position: absolute;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
}
.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
  color: rgba(46, 47, 66, 0.4);
}
.input-label {
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-container {
  margin-bottom: 24px;
}
.input-privacy {
  resize: none;
  outline: transparent;
}
.modal-comment {
  margin-bottom: 16px;
}
.privacy-policy {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link {
  color: #4d5ae5;
}
.checkbox-button {
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  height: 56px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.input:checked label .privacy-policy:checked {
  background-color: #404bbf;
  display: block;
  min-width: 169px;
  height: 56px;
}
.input-privacy {
  color: #8e8f99;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
